<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SECOND FLOOR MEDIA: Affiliate Marketing</title>
    <meta name="google-site-verification" content="zsthCYMSlfES-0eSXK_p5xpbONRU_poUULePO-GdUWY" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="IMG/favicon.png"/>
    <%= stylesheet_link_tag "global.css" %>
    <!--<link rel="stylesheet" type="text/css" href="CSS/global.css">-->
    <!-- Global CSS -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id = "hero-image">
      <div class = "container">
        <div class = "row">
          <div class = "col-sm-12">
            <a href="#"><img src="images/logo.png" id = "logo" class = "img-responsive"></a>
            <h3 class = "hidden-xs">Second Floor Media</h3>
            <h1>Better performance marketing for better results</h1>
            <div id = "btn-container">
             <a href="mailto:rob@secondfloormedia.com" class = "btn" >Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-sm-4 small-image">
    <h4>Expand Your Reach</h4>
    <p>Google is now part of the Second Floor Network</p>
  </div>
      <div class = "col-sm-8 large-image">
        <h4>Data-Driven Insights</h4>
    <p>Through Paid or Organic traffic we can amplify your success</p>
  </div>
      <div class = "container" id = "whoweare">
    <div class = "row">
      <div class = "col-sm-12">
        <h2>Seattle-Based Affiliate Marketing Agency</h2>
        <p>We create state of the art sites with a focus on user experience and performance. It's affiliate marketing with a technical and creative edge - and it produces unique results.</p>
      </div>
    </div>
  </div>
  
<div id = "footer">
  <div class = "container"
    <div class = "row">
      <div class = "col-sm-12">
        <p id = "copy">&copy; 2017 Second Floor Media - Proudly made in Seattle</p>
        <p id = "toupp"><a href="#">Terms Of Use</a> |  <a href="#">Privacy Policy</a> | <a href="mailto:rob@secondfloormedia.com">Contact</a></p>

      </div>
    </div>
  </div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>